<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>
      Listen Kudasai - {% block title %}Practice your Japanese Listening Skills {% endblock %}
    </title>
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <link href="css/listenkudasai.css" rel='stylesheet' type='text/css'>
    {% block head %}
    {% endblock %}
  </head>

  <body>
    {% block nav %}
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="container">
        <div class="collapse navbar-collapse" id="main-navbar">
          <a class="navbar-brand" href="/">Listenkudasai<small>Practice your Japanese listening skills</small></a>
          <div class="pull-right">
            <ul class="nav navbar-nav">
              <li><a href="#" data-toggle="modal" data-target="#submit-form-modal">Submit video</a>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    {% endblock %}

    <div class="container wrapper">
      {% for message in messages %}
        <div class="alert alert-{{message.variant}} alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{message.message}}
        </div>
      {% endfor %}

      {% block content %}
      {% endblock %}

      <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
      <script src="js/bootbox.min.js" type="text/javascript"></script>
      <script src="js/listenkudasai.js" type="text/javascript"></script>
      <script src="js/bootstrap.min.js" type="text/javascript"></script>
      {% block scripts %}
      {% endblock %}
    </div>
  </body>
</html>
